spring.application.name=drama-list-api
app.version=v1
spring.datasource.url=jdbc:sqlserver://;serverName=saber;databaseName=DramaList;encrypt=true;trustServerCertificate=true
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=com.microsoft.sqlserver.jdbc.SQLServerDriver
spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=validate
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.SQLServerDialect
springdoc.api-docs.path=/api-docs
springdoc.swagger-ui.path=/swagger
spring.data.rest.base-path=/api/${app.version}